@model PZ_test1.Models.Students

@{
    ViewBag.Title = "Szczegóły";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h2>Szczegóły </h2>

<div>
    <h4>Student: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.SurName) </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Index)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Index)
        </dd>

        <dt>
            Imię
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Nazwisko
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pesel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pesel)
        </dd>

        <dt>
            Miasto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
           Ulica
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt>
           Kod pocztowy
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCode)
        </dd>

        <dt>
            Numer mieszkania
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local)
        </dd>

    </dl>
</div>
<div class="btn btn-lg btn-warning" style="margin-bottom: 5px;">
    @Html.ActionLink("Kierunki studiów", "CoursesOfStudy", new { id = Model.Id })
</div>
<div class="btn btn-lg btn-warning" style="margin-bottom: 5px;">
    @Html.ActionLink("Powtarzane przedmioty", "RepeatedSubjects", new { id = Model.Id })
</div>

<br/>
<p class="btn btn-info">
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) 
</p>
<p class="btn btn-info">
    @Html.ActionLink("Wróć do listy studentów", "Index")
</p>
