@{
    ViewBag.Title = "CoursesOfStudy";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}
<h2>Lista powtarzanych przedmiotów</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>
            Id Studenta
        </th>
        <th>
            Nazwa kierunku
        </th>
        <th>
            Liczba ECTS
        </th>
        <th>
            Nazwa przedmiotu
        </th>
        <th>
            Czy zdany
        </th>
    </tr>
    <tr>
        <td>
            @ViewData["Id"]
        </td>
        <td>
            @ViewData["Name"]
        </td>
        <td>
            @ViewData["ECTS"]
        </td>
        <td>
            @ViewData["SubjectName"]
        </td>
        <td>
            @ViewData["Passed"]
        </td>
    </tr>
</table>
           
 

