@model IEnumerable<PZ_test1.WniosekWarunek>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h2>Lista formularzy o powtarzanie przedmiotów</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NrLegitymacji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semestr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rok)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kierunek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrybStudiow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Przedmiot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ECTS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TerminZaliczenia)
        </th>
        <th>
            @Html.DisplayNameFor(model =>model.Status)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrLegitymacji)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semestr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rok)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kierunek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrybStudiow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Przedmiot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ECTS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TerminZaliczenia)
        </td>
        @{
            if (Html.DisplayFor(modelItem => item.Status).ToString().Equals("Zatwierdzony"))
            {
                <td class="success">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            }
            else
            {
                <td class="danger">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

            }
        }
        <td>
            <div class="btn btn-warning">@Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) </div>
            <div class="btn btn-info">@Html.ActionLink("Szczegóły", "Details", new { id = item.Id })</div>
            <div class="btn btn-danger">@Html.ActionLink("Usuń", "Delete", new { id = item.Id })</div>
        </td>
    </tr>
}

</table>
